/* Light Mode */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark Mode */
.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
